.App {
  text-align: center;
}

/* HEADER AND NAVBAR*/
header {
  border: solid black 4px;
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Shrikhand', cursive;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 5px;
  margin-top: 3vw;
}

.logIn {
display: flex;
justify-content: flex-end;
margin-left: 90vw;
margin-right: 2vw;
}

#form {
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  list-style: none;
}

a:link {
  text-decoration: none;
  font-family: 'Roboto', light;
  color: black;
}

a:visited {
  color: black;
}

/* welcome page */

h1 {
  font-size: 40px;
}

img {
  width: 200px;
}

.welcome {
  padding: 6vw;
  text-align: center;
  color: black;
}

.welcomeLogo {
  font-family: 'roboto', bold;
}

.paragraph {
  font-family: 'Roboto', Light;
  font-size: 20px;
  margin-top: 3vw;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-bottom: 3vw;
}

/* Plants page*/

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  padding: 3vw;
}

#imgPic {
  display: flex;
  justify-content: center;
  
}












/*Footer*/

footer {
  position: fixed;
  bottom: 0;
  padding: 5px;

}

footer small {
  margin: 0 auto;
}